body {
  background-color: gray;
  width: 100%;
}

.container {
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin-top: 10vh;
  margin-right: 10vw;
  margin-left: 10vw;
}

.list {
  background-color: #EFEEED;
  padding: 20px 20px 20px 20px;
  display: none;
  border: solid 1px #D1EEEE;
  position: absolute;
  width: 20vw;
  top: 14vh;
}

#full-list {
  background-color: none;
  padding: 20px 20px 20px 20px;
}
h1 {
  font-size: 4em;
  color: #111111;
  text-align: center;
}

p {
  text-align: center;
}

table {
  width: 400px;
  background-color: red;
}
ul {
}
#full-list {
  display: none;
}

.specific-task {
  cursor: pointer;
  color: #0088cc;
}
.entry{
  width: 200px;
}
.specific-task:hover {
  text-decoration: underline;
  background-color: gray;
}
form {
  text-align: right;
  display: inline-block;
}
#form-div {
  text-align: center;
}

input{
  width: 300px;
}
h2{
  text-align: center;
}
#results {
  width: 50%;
  margin: 0 auto;
  display: none;
}

